<h1>掲示板</h1>

<%= link_to 'スレッド作成', new_board_path %>

<% @boards.each do |board| %>
  <div>
    <p><%= link_to board.title, board_path(board) %></p>
    <p><%= board.created_at %></p>
    <p><%= board.author %></p>
  </div>
<% end %>